@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css" asp-append-version="true">

    <link rel="stylesheet" href="~/css/site.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary" id="login-form-id">
            <div class="card-header text-center">
                <a href="/" class="h1">Автоцентър Миро</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg" id="login-title"><b>Вход</b></p>

                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating" id="login-username">
                        <b asp-for="Input.Username" class="form-label">Потребителско име</b>
                        <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <div class="form-floating" id="login-password">
                        <b asp-for="Input.Password" class="form-label">Парола</b>
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="row" id="login-row">

                        <!-- /.col -->
                        <div class="btn-login">
                            <button type="submit" class="login-submit">Вход</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <p class="after-login">
                    <a id="forgot-password" asp-page="./ForgotPassword">Забравена парола</a>
                </p>
                <p class="after-login">
                    <a asp-page="./Register">Регистрация</a>
                </p>

                <div class="ext-logins">
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                            article
                                            about setting up this ASP.NET application to support logging in via external services
                                        </a>.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p class="ext-logins">
                                            @foreach (var provider in Model.ExternalLogins)
                                            {
                                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                </div>
            </div>

            <!-- /.card-body -->
        </div>

        <!-- /.card -->
    </div>

    
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
</body>
</html>
