@using MiroAutoCenter.Core.Models.Services
@model ServicesPaginationModel
@using Microsoft.AspNetCore.Identity
@using MiroAutoCenter.Core.Constants
@using MiroAutoCenter.Data.Models
@inject SignInManager<WebsiteUser> SignInManager
@inject UserManager<WebsiteUser> UserManager
@{
    ViewBag.Title = "Услуги";
}

@if (!Model.AllServices.Any())
{
    <h2 class="text-center">Няма услуги все още!</h2>
}
else
{
        <input type="text" id="myInput" onkeyup="searchServices()" placeholder="Търсене на услуги..." title="Напишете име">
        <br />
    @foreach (var service in Model.AllServices)
    {
    <div class="card" id="service-card">
  <div class="card-body">
                <img id="tools" src="~/img/tools.png">
                <p class="service-title" id="service-title">@service.Name</p>
                <p class="card-text" id="service-text">@service.Description</p>
                <p id="service-price">Цена: @service.Price</p>
                <p id="service-duration">Времетраене:
                    <br>@service.Time</p>
                @if (!this.User.IsInRole(UserConstants.Administrator) && !this.User.IsInRole(UserConstants.Receptionist))
                {
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a class="appoint-btn" asp-controller="Services" asp-action="CreateAppointment" asp-route-id="@service.Id">Запази час</a>
                    }
                }
                else
                {
                    <a class="edit-btn" asp-controller="Services" asp-action="Edit" asp-route-id="@service.Id">Редактирай</a>
                    <a class="delete-btn" asp-controller="Services" asp-action="Delete" asp-route-id="@service.Id">Изтрий</a>
                }
  </div>
</div>
    }
    <paging page-no="Model.PageNo"
        page-size="Model.PageSize"
        total-records="Model.TotalRecords"
        page-size-dropdown-items="5-10-25">
    </paging>
}

<script>
    function searchServices() {
        console.log("works");
        var input, filter, table, tr, td, i, txtValue, cards, titles, title;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        cards = document.getElementsByClassName("card");
        for (i = 0; i < cards.length; i++) {
            title = cards[i].getElementsByClassName("service-title")[0];
            if (title) {
                txtValue = title.textContent || title.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    cards[i].style.display = "";
                } else {
                    cards[i].style.display = "none";
                }
            }
        }
    }
</script>

