@using MiroAutoCenter.Core.Models.Services
@model IEnumerable<ServicesListingModel>
@using Microsoft.AspNetCore.Identity
@using MiroAutoCenter.Core.Constants
@using MiroAutoCenter.Data.Models
@inject SignInManager<WebsiteUser> SignInManager
@inject UserManager<WebsiteUser> UserManager
@{
    ViewBag.Title = "Services";
}
@*@if (this.User.IsInRole(UserConstants.Administrator))
{
    <a class="btn btn-primary" asp-area="" asp-controller="Services" asp-action="Add">Add services</a>
}*@

@if (!Model.Any())
{
    <h2 class="text-center">No services yet!</h2>
}
else
{
    @*<input type="text" id="myInput" onkeyup="searchServices()" placeholder="Search for services.." title="Type in a name">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h5 class="text-center">Available services</h5>
                </div>
                <div>
                    <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-12">
                                <table id="example" class="table table-bordered table-hover dataTable dtr-inline">
                                    <thead>
                                        <tr class="table-primary">
                                            <th tabindex="0" rowspan="1" colspan="1">Name</th>
                                            <th tabindex="0" rowspan="1" colspan="1">Description</th>
                                            <th tabindex="0" rowspan="1" colspan="1">Price</th>
                                            <th tabindex="0" rowspan="1" colspan="1">Type</th>
                                            @if (!this.User.IsInRole(UserConstants.Administrator))
                                            {
                                                @if (SignInManager.IsSignedIn(User))
                                                {
                                                    <th tabindex="0" rowspan="1" colspan="1"></th>
                                                }

                                            }
                                            else
                                            {
                                                <th tabindex="0" rowspan="1" colspan="1"></th>
                                                <th tabindex="0" rowspan="1" colspan="1"></th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var service in Model)
                                        {
                                            <tr>
                                                <td><a asp-controller="Services" asp-action="Details" asp-route-id="@service.Id">@service.Name</a></td>
                                                <td>@service.Description</td>
                                                <td>@service.Price</td>
                                                <td>@service.Time</td>
                                                @if (!this.User.IsInRole(UserConstants.Administrator))
                                                {
                                                    @if (SignInManager.IsSignedIn(User))
                                                    {
                                                        <td><a class="btn btn-primary" asp-controller="Services" asp-action="CreateAppointment" asp-route-id="@service.Id">Create Appointment</a></td>
                                                    }
                                                    }
                                                else
                                                {
                                                    <td><a class="btn btn-primary" asp-controller="Services" asp-action="Edit" asp-route-id="@service.Id">Edit</a></td>
                                                    <td><a class="btn btn-primary" asp-controller="Services" asp-action="Delete" asp-route-id="@service.Id">Delete</a></td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
        
    @foreach (var service in Model)
    {
    <div class="card" id="service-card" style="width: 18rem;">
  <div class="card-body">
                <p class="card-title" id="service-title">@service.Name</p>
                <p class="card-text" id="service-text">@service.Description</p>
                <p>Price: @service.Price</p>
                <p>Duration: @service.Time</p>
                @if (!this.User.IsInRole(UserConstants.Administrator))
                {
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a class="btn btn-primary" asp-controller="Services" asp-action="CreateAppointment" asp-route-id="@service.Id">Create Appointment</a>
                    }
                }
                else
                {
                    <a class="btn btn-primary" asp-controller="Services" asp-action="Edit" asp-route-id="@service.Id">Edit</a>
                    <a class="btn btn-primary" asp-controller="Services" asp-action="Delete" asp-route-id="@service.Id">Delete</a>
                }
  </div>
</div>
    }
}

<script>
    function searchServices() {
        console.log("works");
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("example");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

