@using MiroAutoCenter.Core.Models.Admin
@model AdminPendingServicesPaginationModel

@{
    ViewBag.Title = $"Изчакващи одобрение";
}

@if (!Model.AllPendingServices.Any())
{
    <div class="card-body text-center">
        <h3 class="text-center">Няма изчакващи заявки.</h3>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="timeline">
                @foreach (var service in Model.AllPendingServices)
                {
                    <div>
                        <i class="fa fa-wrench"></i>
                        <div class="timeline-item">
                            <h3>@service.ServiceType</h3>
                            <h5>@service.CarMake</h5>
                            <h5>@service.Time</h5>
                            <span><a asp-controller="Admin" asp-action="Approve" asp-route-id="@service.Id" class="btn btn-success">Одобри</a><br /></span>
                            <span><a asp-controller="Admin" asp-action="Disapprove" asp-route-id="@service.Id" class="btn btn-danger">Отхвърли</a></span>
                        </div>
                    </div>
                }
            </div>
            <paging page-no="Model.PageNo"
                page-size="Model.PageSize"
                total-records="Model.TotalRecords"
                page-size-dropdown-items="5-10-25">
            </paging>
        </div>
    </div>
}