@using Microsoft.AspNetCore.Identity
@using MiroAutoCenter.Core.Constants
@using MiroAutoCenter.Core.Models.Cars
@using MiroAutoCenter.Data.Models

@model CarDetailsModel
@inject SignInManager<WebsiteUser> SignInManager
@inject UserManager<WebsiteUser> UserManager

@{
    ViewBag.Title = $"{@Model.PlateNumber} {@Model.Make} {@Model.Model}";
}

<div class="row">
    <div class="col-md-8">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    Информация
                </h3>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-6">Марка:</dt>
                    <dd class="col-sm-6">@Model.Make</dd>
                    <dt class="col-sm-6">Модел:</dt>
                    <dd class="col-sm-6">@Model.Model</dd>
                    <dt class="col-sm-6">Година на производство:</dt>
                    <dd class="col-sm-6">@Model.YearOfCreation</dd>
                    <dt class="col-sm-6">Регистрационен номер:</dt>
                    <dd class="col-sm-6">@Model.PlateNumber
                    <dt class="col-sm-6">Километри:</dt>
                    <dd class="col-sm-6">@Model.Mileage
                </dl>
            </div>
        </div>
    </div>

@*    @if (this.User.IsInRole(UserConstants.Administrator))*@
        <div class="col-md-4">
            <div class="card card-warning">
                <div class="card-header">
                    <h5 class="text-center">
                        Опции за редактиране или премахване
                    </h5>
                </div>
                <div class="card-body">
                    <a asp-controller="Cars" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning float-left">Редактиране</a>
                    <a asp-controller="Cars" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger float-right">Изтриване</a>
                </div>
            </div>
        </div>
</div>
