@using MiroAutoCenter.Core.Models.Cars
@model IEnumerable<CarsListingModel>

@{
    ViewBag.Title = "My Cars";
}
<div>
    <a class="btn btn-primary" asp-area="" asp-controller="Cars" asp-action="Add">Add cars</a>
</div>
    
@if (!Model.Any())
{
    <h2 class="text-center">No cars yet!</h2>
}
else
{
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h5 class="text-center">Your cars</h5>
                    </div>
                    <div>
                        <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-12">
                                    <table id="example" class="table table-bordered table-hover dataTable dtr-inline">
                                        <thead>
                                            <tr class="table-primary">
                                                <th tabindex="0" rowspan="1" colspan="1">Make</th>
                                                <th tabindex="0" rowspan="1" colspan="1">Model</th>
                                                <th tabindex="0" rowspan="1" colspan="1">Year Of Creation</th>
                                                <th tabindex="0" rowspan="1" colspan="1">Plate Number</th>
                                                <th tabindex="0" rowspan="1" colspan="1">Mileage</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var car in Model)
                                            {
                                                <tr>
                                                <td><a asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id">@car.Make</a></td>
                                                <td>@car.Model</td>
                                                <td>@car.YearOfCreation</td>
                                                <td>@car.PlateNumber</td>
                                                <td>@car.Mileage</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <h5 class="text-center">Count of cars: @Model.Count()</h5>


