@using MiroAutoCenter.Core.Models.Ratings
@using Microsoft.AspNetCore.Identity
@using MiroAutoCenter.Core.Constants
@using MiroAutoCenter.Data.Models
@model IEnumerable<RatingsListingModel>
@inject SignInManager<WebsiteUser> SignInManager
@inject UserManager<WebsiteUser> UserManager
@inject MiroAutoCenter.Core.Contracts.ICarService CarService

    @if (SignInManager.IsSignedIn(User) && !this.User.IsInRole(UserConstants.Administrator) && !this.User.IsInRole(UserConstants.Receptionist))
{
    
    var user = await UserManager.GetUserAsync(User);
    var userCars = CarService.ReadyCarsByUser(user.Id);
    if(userCars.Any()){
        <div id="notification" class="notification">
            <div class="user-notif">
                <span id="notificationMessage">Имате автомобил за получаване</span>
                <button id="closeButton" class="closeButton">&times;</button>
            </div>
        </div>
    }
    
}
<div class="home-page-container">
    <img src="~/img/homepage.jpg" />
    
   <p>Добре дошли в Автоцентър Миро!</p>
    <a class="check-services" asp-area="" asp-controller="Services" asp-action="All">Разгледайте нашите услуги</a>
</div>
<div class="ratings">
    <div>
        <h2>Отзиви от наши клиенти</h2>
        <a asp-controller="Ratings" asp-action="All">Всички отзиви</a>
    </div>
    <div class="media">
        <div class="rating-data">
        <p class="media-heading user_name">@Model.First().Username</p>
    @if (@Model.First().StarRating == 1)
    {
        <p class="bottom-left">
            <span class="icon">★</span>
        </p>
    }
    @if (@Model.First().StarRating == 2)
    {
        <p class="bottom-left">
            <span class="icon">★</span>
            <span class="icon">★</span>
        </p>
    }
    @if (@Model.First().StarRating == 3)
    {
        <p class="bottom-left">
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
        </p>
    }
    @if (@Model.First().StarRating == 4)
    {
        <p class="bottom-left">
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
        </p>
    }
    @if (@Model.First().StarRating == 5)
    {
        <p class="bottom-left">
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
            <span class="icon">★</span>
        </p>
    }
    </div>
    <div class="rating-data">
        <p class="pull-right">@Model.First().RatingDate</p>
        <p class="bottom-right">@Model.First().Comment</p>
        
        </div>
</div>
    <div class="media">
        <div class="rating-data">
            <p class="media-heading user_name">@Model.ElementAt(1).Username</p>
            @if (@Model.ElementAt(1).StarRating == 1)
            {
                <p class="bottom-left">
                    <span class="icon">★</span>
                </p>
            }
            @if (@Model.ElementAt(1).StarRating == 2)
            {
                <p class="bottom-left">
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </p>
            }
            @if (@Model.ElementAt(1).StarRating == 3)
            {
                <p class="bottom-left">
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </p>
            }
            @if (@Model.ElementAt(1).StarRating == 4)
            {
                <p class="bottom-left">
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </p>
            }
            @if (@Model.ElementAt(1).StarRating == 5)
            {
                <p class="bottom-left">
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </p>
            }
        </div>
        <div class="rating-data">
            <p class="pull-right">@Model.ElementAt(1).RatingDate</p>
            <p class="bottom-right">@Model.ElementAt(1).Comment</p>

        </div>
    </div>
    <div class="media">
        <div class="rating-data">
            <p class="media-heading user_name">@Model.ElementAt(2).Username</p>
            @if (@Model.ElementAt(2).StarRating == 1)
            {
                <p class="bottom-left">
                    <span class="icon">★</span>
                </p>
            }
            @if (@Model.ElementAt(2).StarRating == 2)
            {
                <p class="bottom-left">
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </p>
            }
            @if (@Model.ElementAt(2).StarRating == 3)
            {
                <p class="bottom-left">
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </p>
            }
            @if (@Model.ElementAt(2).StarRating == 4)
            {
                <p class="bottom-left">
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </p>
            }
            @if (@Model.ElementAt(2).StarRating == 5)
            {
                <p class="bottom-left">
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </p>
            }
        </div>
        <div class="rating-data">
            <p class="pull-right">@Model.ElementAt(2).RatingDate</p>
            <p class="bottom-right">@Model.ElementAt(2).Comment</p>

        </div>
    </div>
</div>

<style>
    .ratings{
        position: relative;
        background-color: lightgoldenrodyellow;
        max-width: 90%;
    }

    .rating-data:nth-child(2), .rating-data:nth-child(4){
        margin-left: 15%;
        max-width: 170px;
    }

    .media{
        margin-bottom: 4%;
        
        border-bottom: 2px solid black;
    }

    .rating-data:nth-child(1), .rating-data:nth-child(3) {
        margin-left: 5%;
    }

    .media:nth-child(2){
        margin-top: 3%;
    }

    .ratings>div>h2{
        margin-left: 5%;
    }

    .ratings > div > a {
        right: -80%;
        position: relative;
        bottom: 50px;
        font-size: 26px;
    }

    body > div > div > div.content > div > div.ratings > div:nth-child(1) {
        position: relative;
        top: 30px;
    }

    .notification {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        font-size: 18px;
        max-width: 40%;
        position: relative;
        right: -50%;
        margin-bottom: 2%;
        background-color: #88de88;
    }

    /*#notificationMessage {
        margin-right: 10px;
    }*/

    .closeButton {
        float: right;
        font-size: 20px;
        font-weight: bold;
        background: transparent;
        border: none;
        cursor: pointer;
        color: black;
    }

    .user-notif{
        padding: 10px
    }

    body > div > div > div.content > div{
    max-width: 100%;
    margin-right: 0;
    position: relative;
    right: -5%;
    }
</style>

<script>
    var closeButton = document.getElementById("closeButton");
    closeButton.addEventListener("click", function () {
        var notification = document.getElementById("notification");
        notification.style.display = "none";
    });
</script>
